<div class="container">
    <h1>商品</h1>
      <div class="row" style="text-align: right;">
        <%= paginate @products, theme: "twitter-bootstrap-4" %>
      </div>
    <div class="row">
      
      <% @products.each do |product| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="<%= product.image %>" alt="">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">
              <%= link_to product.name, product %>
            </h4>
          </div>
          <hr>
          <div class="card-footer">
            <h5 class="card-title"><strong><%= product.category %></strong></h5>
            <h5 class="card-title"><strong><%= product.maker.name %></strong></h5>
            <br>
          </div>
        </div>
      </div>
      <% end %>
      
  </div>
</div>
