<div class="container">
  <h1><%= @product.name %></h1>
  
  <img class="card-img-top" src="<%= @product.image %>" alt="">
  
  <h4>カテゴリー: <%= @product.category %></h4>
  <h4>メーカー: <%= @product.maker.name %></h4>
  
  <hr>
  
  <h1>この商品のレビュー</h1>
  
  <div class="review_card">
      <%= render @reviews %>
  </div>
</div>
