<!DOCTYPE html>
<html>
  <head>
    <title>スマホホーム</title>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" %>
    <%= render "layouts/rails_default" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container-fluid">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
